{% extends "base.html" %}
{% block titulo %}
    Resultados en vivo
{% endblock %}
{% block contenido %}
    <div class="page-header">
        <h2>Resultados en vivo</h2>
    </div>
    <div class="row">
        {% for partido in partidos %}
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="text-center">
                            <img src="{{ partido.equipo_a.url_bandera }}" alt="{{ partido.equipo_a }}" height="24"/>
                            {{ partido.equipo_a }} vs. {{ partido.equipo_b }}
                            <img src="{{ partido.equipo_b.url_bandera }}" alt="{{ partido.equipo_b }}" height="24"/>
                        </p>
                    </div>
                    <div class="panel-body">
                        <p class="text-center">{{ partido.goles_equipo_a }} - {{ partido.goles_equipo_b }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-12">
                <p class="alert alert-info">No hay partidos disponibles</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}