{% extends "base.html" %}
{% block titulo %}
    Resultados en vivo
{% endblock %}
{% block contenido %}
    <div class="page-header">
        <h2>Resultados en vivo</h2>
    </div>
    <div class="row">
        {% for partido in partidos %}
            <div class="col-md-6">
                {% include "Quiniela/info_partido.html" %}
            </div>
        {% empty %}
            <div class="col-md-12">
                <p class="alert alert-info">No hay partidos disponibles</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}