{% extends "base.html" %}
{% block titulo %}
    Listado de Equipos
{% endblock %}
{% block contenido %}
    <div class="page-header">
        <h2>Listado de Equipos</h2>
    </div>

    {% regroup equipo_list by grupo as equipos %}
    {% for equipo in equipos %}
        <h2>{{ equipo.grouper }}</h2>
        <table style="border: 1px solid gray;" class="table table-responsive table-striped table-hover">
            <tr class="info">
                <th colspan="2">Equipo</th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GF</th>
                <th>GC</th>
                <th>GD</th>
                <th>Puntos</th>
            </tr>
            {% for equipo in equipo.list %}
                <tr>
                    <td><img class="bandera" src="{{ equipo.url_bandera }}" height="24"/></td>
                    <td class="align_center">
                        <b>
                            <a href="{% url "detalle_equipo" equipo.id %}">{{ equipo.nombre }}</a>
                        </b>
                    </td>
                    <td class="align_right">{{ equipo.partidos_jugados }}</td>
                    <td class="align_right">{{ equipo.partidos_ganados }}</td>
                    <td class="align_right">{{ equipo.partidos_empatados }}</td>
                    <td class="align_right">{{ equipo.partidos_perdidos }}</td>
                    <td class="align_right">{{ equipo.goles_a_favor }}</td>
                    <td class="align_right">{{ equipo.goles_en_contra }}</td>
                    <td class="align_right">{{ equipo.goles_diferencia }}</td>
                    <td class="align_right">{{ equipo.puntos }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}