{% extends 'base.html' %}
{% block titulo %}
    {{ equipo.nombre }}
{% endblock %}
{% block contenido %}
    <div class="page-header">
        <h2><img src="{{ equipo.url_bandera }}" height="32" class="pull-left"/> {{ equipo.nombre }}
            <small><a href="{% url "detalle_grupo" equipo.grupo.id %}">{{ equipo.grupo }}</a></small>
        </h2>
    </div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th class="active">Juegos Ganados</th>
            <th class="active">Juegos Empatados</th>
            <th class="active">Juegos Perdidos</th>
            <th class="active">Goles a Favor</th>
            <th class="active">Goles en Contra</th>
            <th class="active">Puntos</th>
        </tr>
        <tr>
            <td>{{ equipo.partidos_ganados }}</td>
            <td>{{ equipo.partidos_empatados }}</td>
            <td>{{ equipo.partidos_perdidos }}</td>
            <td>{{ equipo.goles_a_favor }}</td>
            <td>{{ equipo.goles_en_contra }}</td>
            <td>{{ equipo.puntos }}</td>
        </tr>
    </table>
    {% regroup partidos by tipo_partido as total_partidos %}
    <h2>Partidos</h2>
    {% for total_partido in total_partidos %}
        <h3>{% if total_partido.grouper == 'C' %}
            Clasificatorio
        {% else %}
            Eliminatorio
        {% endif %} </h3>
        <table class="table table-bordered table-responsive table-striped">
            <tr>
                <th class="active">Partido</th>
                <th class="active">Fecha</th>
            </tr>
            {% for partido in total_partido.list %}
                <tr>
                    <td>
                        <a href="{% url 'detalle_partido' partido.id %}">{{ partido }}
                            {% if partido.partido_jugado %}
                                <span class="badge pull-right">
                            {{ partido.goles_equipo_a }} - {{ partido.goles_equipo_b }}
                        </span>
                            {% endif %}

                        </a>
                    </td>
                    <td>{{ partido.fecha }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}