{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}
    Listado de Grupos
{% endblock %}
{% block contenido %}
    <div class="page-header">
        <h2>Listado de Grupos
            <small> Equipos Clasificados</small>
        </h2>
    </div>
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">Clasificatorio</li>
            <li><a href="#octavos">Octavos de final</a></li>
            <li><a href="#cuartos">Cuartos de final</a></li>
            <li><a href="#semifinal">Semifinal</a></li>
            <li><a href="#final">Final</a></li>
            <li><a href="#tercero">Tercer Lugar</a></li>
        </ol>
    </div>
    <div class="row">
        {% for grupo in grupo_list %}
            <div class="col-md-6">
                <div class="list-group">
                    <a href="{% url "detalle_grupo" grupo.id %}" class="list-group-item active">
                        Grupo {{ grupo.nombre }}
                    </a>
                    {% for equipo in grupo.equipos_clasificados %}
                        <a href="{% url "detalle_equipo" equipo.id %}" class="list-group-item">
                            <img class="bandera" src="/static/Quiniela/img/banderas/{{ equipo.url_bandera }}"
                                 height="24"/>
                            {{ equipo.nombre }}
                            <span class="badge">Pts. {{ equipo.puntos }} | DG. {{ equipo.goles_diferencia }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% comment %} Ronda Eliminatoria {% endcomment %}
    <div class="row">
        <div class="col-md12">
            <h2>Ronda Eliminatoria</h2>
        </div>
    </div>
    <table class="table table-responsive">
        <tr class="default">
            <th class="info" colspan="8"><a name="octavos">Octavos de Final</a></th>
        </tr>
        <tr>
            {% for partido in partidos_octavos_de_final %}
                <td>
                    {% include "Quiniela/info_partido.html" %}
                </td>
            {% empty %}
                <td colspan="8">
                    <p class="text-center">Por definir</p>
                </td>
            {% endfor %}
        </tr>
        <tr class="warning">
            <th colspan="8"><a name="cuartos">Cuartos de Final</a></th>
        </tr>
        <tr>
            {% for partido in partidos_cuartos_de_final %}
                <td colspan="2">
                    {% include "Quiniela/info_partido.html" %}
                </td>
            {% empty %}
                <td colspan="8">
                    <p class="text-center">Por definir</p>
                </td>
            {% endfor %}
        </tr>
        <tr class="danger">
            <th colspan="8"><a name="semifinal">Semifinal</a></th>
        </tr>
        <tr>
            {% for partido in partidos_semi_final %}
                <td colspan="4">
                    {% include "Quiniela/info_partido.html" %}
                </td>
            {% empty %}
                <td colspan="8">
                    <p class="text-center">Por definir</p>
                </td>
            {% endfor %}
        </tr>
        <tr class="success">
            <th colspan="8"><a name="final">Final</a></th>
        </tr>
        <tr>
            {% for partido in partido_final %}
                <td colspan="8">
                    {% include "Quiniela/info_partido.html" %}
                </td>
            {% empty %}
                <td colspan="8">
                    <p class="text-center">Por definir</p>
                </td>
            {% endfor %}
        </tr>
        <tr class="active">
            <th colspan="8"><a name="tercero">Tercer Lugar</a></th>
        </tr>
        <tr>
            {% for partido in partido_tercer_lugar %}
                <td colspan="8">
                    {% include "Quiniela/info_partido.html" %}
                </td>
            {% empty %}
                <td colspan="8">
                    <p class="text-center">Por definir</p>
                </td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}