{% extends 'base.html' %}
{% block titulo %}
    Listado de Grupos
{% endblock %}
{% block contenido %}
    <div class="page-header">
        <h2>Listado de Grupos<small> Equipos Clasificados</small></h2>
    </div>
    <div class="row">
    {% for grupo in grupo_list %}
        <div class="col-md-6">
            <div class="list-group">
            <a href="#" class="list-group-item active">
                Grupo {{ grupo.nombre }}
            </a>
            {% for equipo in grupo.equipos_clasificados %}
                <a href="{% url "detalle_equipo" equipo.id %}" class="list-group-item">
                    <img class="bandera" src="{{ equipo.url_bandera }}" height="24"/>
                    {{ equipo.nombre }}
                    <span class="badge">Pts. {{ equipo.puntos }} | DG. {{ equipo.goles_diferencia }}</span>
                </a>
            {% endfor %}
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}