@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

* {
    font-family: sans-serif;
    font-weight: lighter;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    clear: both;
    padding-top: 10px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #00356A;
    font-size: 16px;
    clear: both;
    padding-top: 14px;
}

h3 {
    font-size: 14px;
    clear: both;
    font-family: "Open Sans", sans-serif;
}

table {
    border-radius: 5px;
    table-layout: auto;
    padding: 0;
    border-spacing: 0;
    width: 95%;
    margin: 0 auto;
    font-size: 12px;
}

th {
    background-color: #326295;
    color: #c0cbd9;
    border: dotted darkgray;
    border-width: 0 0 1px 0;
    font-size: 12px;
    padding: 5px;
}

td{
    padding: 3px;
}

b{
    font-weight: bold;
}

td.align_right {
    text-align: right;
}

td.align_center{
    text-align: center;
}

img.bandera {
    height: 32px;
}

ul.no-list {
    list-style-type: none;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

ul.menu {
    list-style-type: none;
    display: block;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    text-decoration: none;
    padding-left: 5px;
}
