{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
        google.load('visualization', '1', {packages: ['table']});
    </script>
    <script type="text/javascript">
        function drawVisualization() {
            var data = new google.visualization.DataTable();
            {% regroup progreso|dictsort:"usuario__username" by usuario__username as group %}
            data.addColumn('string', 'fecha');
            {% for usuario in group %}
                data.addColumn('number', '{{ usuario.grouper }}');
            {% endfor %}
            data.addRows({{ group.0.list|length}});
            {% for usuario in group %}
                {% for pronostico in usuario.list %}
                    data.setCell({{ forloop.revcounter0 }}, 0, '{{ pronostico.fecha_str }}');
                    data.setCell({{ forloop.revcounter0 }}, ({{ forloop.parentloop.revcounter0 }}+1), {{ pronostico.puntos__sum }});
                {% endfor %}
            {% endfor %}
            new google.visualization.LineChart(document.getElementById('visualization')).draw(data, {curveType: "function", width: '100%', height: 600});
            new google.visualization.Table(document.getElementById('table')).draw(data, null);
        }
        google.setOnLoadCallback(drawVisualization);
    </script>
{% endblock %}
{% block titulo %}
    Listado de Usuarios
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-m2-12">
            <h2>Pronosticos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="visualization">&nbsp; </div>
    </div>
    <div class="row">
        <div class="col-m2-12" id="table">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Listado de Usuarios</h2>
            <ul class="list-group">
                {% for usuario in user_list %}
                    <li class="list-group-item {% if forloop.first %} list-group-item-success {% endif %}">
                        <a href="{% url 'detalle_usuario' usuario.id %}">
                            <span {% if forloop.first %}class="text-success" {% endif %}>{{ usuario.first_name|capfirst }} {{ usuario.last_name|capfirst }}</span>
                        </a>
                        <span class="badge">{{ usuario.perfil.puntos }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}