{% extends 'base.html' %}
{% block titulo %}
    {{ usuario }}
{% endblock %}
{% block contenido %}
    <h2>{{ usuario.first_name|capfirst }} {{ usuario.last_name|capfirst }} &raquo; Puntos {{ usuario.perfil.puntos|default:0 }}</h2>
    <h3>Pronósticos</h3>
    <table class="table table-responsive">
        <tr>
            <th>Partido</th>
            <th>Score</th>
            <th>Puntos</th>
        </tr>
        {% for pronostico in usuario.pronostico_set.all %}
            <tr>
                <td>{{ pronostico.partido }}</td>
                <td class="align_center">{{ pronostico.goles_equipo_a }}:{{ pronostico.goles_equipo_b }}</td>
                <td class="align_right">{{ pronostico.puntos }}</td>
            </tr>
        {% endfor %}
    </table>
{#    <a class="btn btn-primary" href="{% url "cargar_pronostico" user.id %}" class="button button-default">Cargar Pronóstico</a>#}
{% endblock %}