{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
        function drawVisualization() {
            var data = google.visualization.arrayToDataTable([
                ['fecha', 'puntos'],
                {% for dia in progreso %}
                    ['{{ dia.fecha_str }}', {{ dia.puntos__sum }}] {% if not forloop.last %},{% endif %}
                {% endfor %}
            ]);

            new google.visualization.LineChart(document.getElementById('visualization')).
                    draw(data, {curveType: "function", width: 600, height: 400});
        }
        google.setOnLoadCallback(drawVisualization);
    </script>
{% endblock %}
{% block titulo %}
    {{ usuario }}
{% endblock %}
{% block contenido %}
    <h2>{{ usuario.first_name|capfirst }} {{ usuario.last_name|capfirst }} &raquo;
        <small>{{ usuario.perfil.puntos|default:0 }} Puntos</small>
    </h2>
    <h3>Progreso</h3>
    <div class="row">
        <div class="col-md-12" id="grafico">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="visualization">
        </div>
    </div>
    <h3>Pronósticos</h3>
    <table class="table table-responsive table-hover">
        <tr>
            <th>Partido</th>
            <th>Score</th>
            <th>Pronóstico</th>
            <th>Puntos</th>
        </tr>
        {% regroup usuario.pronostico_set.all by partido.fecha as pronosticos %}
        {% for pronostico_group in pronosticos %}
            <tr>
                <th colspan="4" class="active">{{ pronostico_group.grouper }}</th>
            </tr>
            {% for pronostico in pronostico_group.list %}
                <tr>
                    <td {% if not  pronostico.partido.partido_jugado %} colspan="4" {% endif %} >
                        <img src="{{ pronostico.partido.equipo_a.url_bandera }}" alt="{{ pronostico.partido.equipo_a }}"
                             height="24" border="1"/>
                        -
                        <img src="{{ pronostico.partido.equipo_b.url_bandera }}" alt="{{ pronostico.partido.equipo_b }}"
                             height="24" border="1"/>
                        <a href="{% url "detalle_partido" pronostico.partido.id %}">{{ pronostico.partido }}</a>
                    </td>
                    {% if pronostico.partido.partido_jugado %}
                        <td class="align_center">{{ pronostico.partido.goles_equipo_a }}:{{ pronostico.partido.goles_equipo_b }}</td>
                        <td class="align_center">{{ pronostico.goles_equipo_a }}:{{ pronostico.goles_equipo_b }}</td>
                        <td class="align_right">{{ pronostico.puntos }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}